<h1>About the author.</h1>
<p>This project is developed by Eduard Hroza, a web development and training enthusiast.</p>
<p>Visit my profile on GitHub: <a href="https://github.com/eduardhroza">eduardhroza</a>.</p>
