<h1>TestGuru</h1>
<p>This project is a platform for creating and managing tests. It allows users to create, take and analyze different tests on a variety of topics.</p>
<p>You can find out more about our project on the website <a href="https://www.thinknetica.com">Thinknetica</a>.</p>
